/*
!.gitignore
!README.md
!LICENSE

!hw1.skel/
hw1.skel/*
!hw1.skel/*.cpp
!hw1.skel/*.h

!hw1.skel/hw0/
hw1.skel/hw0/*
!hw1.skel/hw0/*.cpp
!hw1.skel/hw0/*.h

!hw1.skel/hw1/
hw1.skel/hw1/*
!hw1.skel/hw1/*.cpp
!hw1.skel/hw1/*.h
